.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25vw 25vw 25vw;
  grid-auto-rows: minmax(10px, auto);
  margin: 10px;
  justify-content: center;
}

.box {
  /* color: #f7f7f7; */
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2vw;
  font-family: Helvetica;
}

.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1;
}
.book-desc {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.purchase-links {
  grid-column: 1/4;
  grid-row: 2;
  color: white;
}
/* .d {
  grid-column: 1/4;
  grid-row: 3;
} */
